
body {
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

.nav {
    display: flex;
    width: auto;
    background-color: whitesmoke;
}

.navchild {
    width: 100%;
    color: black;
    vertical-align: middle;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.one {
    text-align: left;
}

.two {
    text-align: center;
}

.three {
    text-align: right;
}

.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-left: 10vh;
    margin-right: 10vh;
}

.content {
    color: white;
    width: 500px;
    height: 65vh;
    font-size: 20px;
}

.title {
    color: white;
    width: 1000vh;
    height: 100px;
    font-size: 30px;
    padding: 0px;
    
}

.body {
    font-size: 20px;
}  

.visual {
    text-align: center;
    padding-left: 100px;
    --xtra: 115px;
}

.z {
    height: 340px;
    width: 200px;
    position: absolute;
}

.alpha {
    background-color: rgb(29, 29, 29);
    margin-left: calc(120px + var(--xtra));
    margin-top: 0px;
}

.bravo {
    background-color: rgb(48, 48, 48);
    margin-left: calc(80px + var(--xtra));
    margin-top: 20px;
}

.charlie {
    background-color: rgb(75, 75, 75);
    margin-left: calc(40px + var(--xtra));
    margin-top: 40px;
}

.delta {
    background-color: rgb(102, 102, 102);
    margin-left: calc(0px + var(--xtra));
    margin-top: 60px;
}