h1 {
    text-align: center;
    padding: 10px;
}

body {
    font-family: 'Times New Roman', Times, serif !important;
}

.navimg {
    height: 100px;
    width: 100px;
}

.nav-item2 {
    margin: auto;
}

.carousel {
    margin-bottom: 50px;
}

.cards2 {
    background-color: black;
}